:root {
  --primary-color: #91ad41;
  --white: #ffffff;
  --primary-font-color: #27272f;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--fontcolor);
}
.bod {
  border: #27272f 2px solid;
}
.nav-item {
  margin: 0 1em;
  font-weight: bolder;
}

.active {
  color: var(--primary-color) !important;
}

.swiper {
  width: 100%;
  height: 40rem;
}
/* Define your custom primary button color */
.custom-primary-btn {
  color: #ffffff; /* Text color */
  background-color: var(--primary-color); /* Background color */
  border-color: var(--primary-color); /* Border color */
}

/* Optional: Hover state styles */
.custom-primary-btn:hover {
  background-color: #799727; /* Adjusted background color on hover */
  color: var(--white);
  border-color: var(--primary-color); /* Adjusted border color on hover */
}

.btn-outline-custom {
  color: var(--primary-color); /* Text color */
  border-color: var(--primary-color); /* Border color */
}

/* Optional: Hover state styles */
.btn-outline-custom:hover {
  color: #ffffff; /* Text color on hover */
  background-color: var(--primary-color); /* Background color on hover */
}

#slide-1 {
  background: url(./img/mainbanner-template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#slide-2 {
  background: url(./img/mainbanner-template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#slide-3 {
  background: url(./img/mainbanner-template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide {
  position: relative;
}
.content {
  position: absolute;
  top: 30%;
  left: 13%;
}
.content p {
  width: 50%;
}

.card-group div {
  color: #fff;
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  margin: 2rem 0;
}
.card-text {
  font-size: 0.9rem;
}

.chola {
  background-color: #f7fbfa;
}
.chola ul li {
  font-weight: bold;
}
.chola ul {
  padding: 0;
}

.card-img-overlay {
  top: 30%;
  text-align: center;
  padding: 2em;
}

.client {
  background-color: #f7ede4;
}

.footer {
  background-color: #151515;
  padding: 80px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.products {
  width: 95%;
  margin: 0 auto;
}
.products img {
  width: 270px;
  height: 220px;
  margin: 2rem;
  object-fit: cover;
  border-radius: 5%;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  width: 50px;
  height: 2px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ddd;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 7px;
}

.footer-col .social-links a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #fff;
}

/* utle class */
.card-img-overlay {
  top: 5rem;
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .swiper-slide{
    text-align: center;
  }

  .swiper-slide p{
    margin: 2rem 0;
    width: 100%;
  }
.swiper-button-prev::after{
  display: none;
}.swiper-button-next::after{
  display: none;
}
  .footer-col {
    width: 100%;
  }
}
